# Ignore node_modules
node_modules

# Ignore build and example directories
build
example

# Ignore test files
*.test.js
*.spec.js
__tests__
coverage

# Ignore configuration files
.babelrc
.babel.config.js
.eslintrc.js
.prettierrc

# Ignore logs and temp files
npm-debug.log
yarn-debug.log
yarn-error.log
